.svg {
  width: 250pt;
  height: 50pt;
}

.svg path {
  stroke: white;
  stroke-width: 0.3mm;
  stroke-linecap: round;
  stroke-dasharray: var(--l);
  stroke-dashoffset: var(--l);
  fill: none;
  fill-rule: nonzero;
  animation: stroke 7s forwards;
  -webkit-animation: stroke 7s forwards;
}

@keyframes stroke {
  to {
    stroke-dashoffset: 0;
  }
}
